{% extends "webpage/layout.html" %}
{% load maps_extras %}
{% load static %}

{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %}{% trans "overlay maps"|capfirst %}{% endblock %}
{% block content %}
    <h2>{% trans "basemaps"|capfirst %}</h2>
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'en' %}
        <p>
            Basemaps are topographical maps used in dialectology to fuse the geographical space with
            linguistic phenomena. Thus, basemaps are dialectological basics and raise the following
            questions: What is the displayed topographical representation? Which are the chosen
            political and territorial borders?  What topographical sector is used in the map itself?
        </p>
        <p>
            In our case we chose the category basemap for maps which had “Grundkarte”(basemap) as
            their title (e.g. basemap 4), for maps which were used as a basemap to produce other
            maps (e.g. basemap 0), or for maps which had the function and properties of a basemap
            in the context of test prints for Eberhard Kranzmayer’s dialect atlas (e.g. basemap 1).
            We differentiated between 10 basemap-categories according to specific cartographical
            properties. These ten categories mainly refer to Eberhard Kranzmayer’s atlas.
        </p>
    {% else %}
        <p>
            Grundkarten (base maps) sind <strong>in der Dialektforschung topographische</strong> Karten, die
            verwendet werden, um den <strong>geographischen Raum</strong> mit der Ebene der sprachlichen Phänomene in
            diesem Raum (also etwa der Verbreitung von bestimmten Dialektwörtern) zu fusionieren.
            Grundkarten sind also dialektologische Grundlagen: Welche topographische Raumdarstellung
            wird verwendet, um sprachliche Phänomene einzuzeichnen? Welche (politischen,
            territorialen) Grenzziehungen werden dabei in dieser topographischen Karte gewählt?
            Welcher Kartenausschnitt wird ausgesucht?
        </p>
        <p>
           In unserem Projekt sind jene Karten „Grundkarten“, die entweder bereits von den
            Kartenzeichnern so benannt wurden (z. B. base map 4), eindeutig als solche in der
            Produktion von weiteren Karten verwendet wurden (z. B. base map 0) oder aber von
            Eberhard Kranzmayer in Form von Probedrucken für seinen Sprachatlas als Grundkarten zu
            betrachten sind (z. B. basemap 1). Aufgrund <strong>kartographischer</strong>
            Eigenschaften lassen sich 10 verschiedene base maps unterscheiden.
        </p>
        <p>
            Bei den Unterschieden handelt es sich allerdings nur um kleine kartographische und
            topographische Details.
        </p>
    {% endif %}
{% endblock %}
