{% extends "webpage/layout.html" %}
{% load maps_extras %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %}{% trans "overlay maps"|capfirst %}{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "overlay maps" "maps:leaflet" %}
    {% breadcrumb "base maps" '' %}
{% endblock %}
{% block content %}
    <h2>{% trans "base maps"|capfirst %}</h2>
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'en' %}
        Coming soon ...
    {% else %}
        <p>
            Grundkarten (base maps) sind im dialektologischen Kontext
            <strong>topographische</strong> Karten,
            die verwendet werden, um den <strong>geographischen Raum</strong> mit der Ebene der
            linguistischen Phänomene in diesem Raum (also etwa die Verbreitung von
            bestimmten Dialektwörtern) zu fusionieren. Grundkarten sind also dialektologische
            Grundlagen: Welche topographische Raumdarstellung wird verwendet, um
            dann linguistische Phänomene einzuzeichnen? Welche (politischen,
            territorialen) Grenzziehungen werden dabei in dieser topographischen
            Karte gewählt? Welcher Kartenausschnitt wird ausgesucht?
        </p>
        <p>
            Im vorliegenden Fall haben wir jene Karten als Grundkarten bezeichnet,
            die entweder selbst eine solche Betitelung trugen (z.B.: Basemap 4),
            oder ganz klar als solche in der Produktion von weiteren Karten
            verwendet wurden (z.B.: Base map 0), oder aber jene Karten, die im
            Kontext der Atlasunternehmung von Eberhard Kranzmayer in Form von Probedrucken als
            Grundkarten zu bezeichnen sind (z.B.:
            Base map 1). Bei genauer Betrachtung der <strong>kartographischen</strong>
            Eigenschaften dieser Karten haben wir zwischen 10 verschiedenen
            Basemaps differenziert, die sich weitgehend auf Eberhard Kranzmayers Atlaswerk beziehen.
        </p>
        <p>
            Dass es sich bei den diversen Karten der Probedruckseries um
            verschiedene Basemap-Kategorien handelt, kann man nur bei genauer
            Betrachtung erkennen, da sich manche Grundkarten kaum, oder nur in
            kleinen kartographischen und topographischen Details unterscheiden.
        </p>
    {% endif %}
{% endblock %}
