{% extends "webpage/layout.html" %}
{% load maps_extras %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %}{% trans "overlay"|capfirst %}{% endblock %}
{% block content %}
    <h2>{% trans "overlay maps"|capfirst %}</h2>
    <p>
        Im Zuge des Projekts "Österreichische Dialektkartographie 1924-1956.
        Digitalisierung, Kontextualisierung, Visualisierung." wurden die vorhandenen
        Karten nicht nur digitalisiert und historisch kontextualisiert, sondern – wie im
        Projekttitel ersichtlich – auch visualisiert. Dies betrifft die Durchführung der
        Georeferenzierung ausgewählter Karten und die Darstellung dieser. Das
        Georeferenzieren ist das Zuweisen raumbezogener Information, die man auch die
        Georeferenz nennt, zu einem Satz an Daten, die in unserem Falle die Karten
        darstellen. Dies bedeutet, dass historische Karten mit aktuellen geographischen
        Koordinaten versehen werden, wodurch sich ein Vergleich historischer mit
        gegenwärtigen geographischen Räumen anstellen lässt.
    </p>
    <p>
        Georeferenziert wurde mit Hilfe des Open Source Programms QGIS3. Dieses bot die
        Basis für die Durchführung der Visualisierungsarbeit. Dargestellt sind die
        georeferenzierten historischen Karten in einer Applikation, die es Ihnen
        ermöglicht, selbst zu entscheiden, welche Karte Sie im Kontext einer
        Kartendarstellung von z.B. google maps betrachten wollen. Durch den
        Schieberegler lässt sich die Transparenz von Vordergrund (historische Karte) und
        Hintergrund (aktuelle Kartendarstellungen) verändern, wodurch man historische
        Grenzziehungen und Kartendarstellungen des europäischen Raumes mit gegenwärtigen
        vergleichen kann.
    </p>
    {% for id, map in overlay_maps.items %}
        <p>
            <a href="{% url 'maps:leaflet-detail' id %}">{{ map.name }}</a>
        </p>
    {% endfor %}
{% endblock %}
