{% extends "webpage/layout.html" %}
{% load maps_extras %}
{% load mptt_tags %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %}{% trans "type"|capfirst %}{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "types" "maps:type" %}
    {% for item in node.get_ancestors %}
        {% breadcrumb_safe item|link '' %}
    {% endfor %}
    {% breadcrumb node.name "" %}
{% endblock %}
{% block content %}
    <div class="button-bar">
        {% if node.level != 0 %}
            <a class="button" href="{% url 'maps:type-update' node.id %}">{% trans "update"|capfirst %}</a>
        {% endif %}
        <a class="button" href="{% url 'maps:type-create' node.id %}">{% trans "type"|capfirst %} +</a>
        {% if not descendants and not related_items %}
            <form method="POST" action="{% url 'maps:type-delete' node.id %}">
                {% csrf_token %}<input id="delete-type" type="submit" value="{% trans 'delete'|capfirst %}">
            </form>
        {% endif %}
    </div>
    {% if descendants %}
        <h3>{% trans "sub types"|capfirst %}</h3>
        <ul>
            {% recursetree descendants %}
                <li>
                    {{ node|link }}
                    {% if node.level > 1 %}
                        ({{ node|display_node_count:node_root.name }})
                    {% endif %}
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    {% endif %}
    {% if table.data %}
        <h3>{% trans "related entries"|capfirst %}</h3>
        {% render_table table %}
    {% endif %}
    {{ node|display_info }}
    <script>
        $(document).on('click', '#delete-type', function(){
            return confirm('{% blocktrans with node.name as name %}Delete {{ name }}?{% endblocktrans %}');
        })
    </script>
{% endblock %}
