{% extends "webpage/layout.html" %}
{% load maps_extras %}
{% load mptt_tags %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %}{% trans "type"|capfirst %}{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "types" "maps:type" %}
{% endblock %}
{% block content %}
    <div class="container">
        <ul id="tabs" class="nav nav-tabs">
            {{ nav_tabs|safe }}
        </ul>
        <div class="tab-content clearfix">
            {% for root in roots %}
                <div class="tab-pane" id="{{ root.name }}">
                    <ul>
                        {% recursetree root.get_descendants %}
                            <li>
                                {{ node|link }}
                                {% if node.level > 1 %}
                                    ({{ node|display_node_count:root.name }})
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    <ul class="children">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
