[report]
omit =
    # omit migrations
    maps/migrations/*
    # omit settings
    diauma/settings/base.py
    # omit admin, models and forms because it messes up coverage (Django is inapt with this things)
    maps/admin.py
    maps/forms.py
    maps/models.py
    files/forms.py
    files/models.py
    # omit autocomplete views, maybe possible but too cumbersome to test for now
    maps/dal_views.py
