# Byte-compiled
__pycache__/
*.pyc
docs/html/.doctrees

# media
media/*

# test coverage
.coverage
cover/

# IDE
.idea

# migrations
files/migrations/*
maps/migrations/*
webpage/migrations/*

# sensitive data
diauma/settings/server.py
diauma/settings/dev_secret.py
diauma/settings/postgres.py

db.sqlite3

# documentation build files
docs/_*/*

# server specific implementation files
.bash_history
.cache/*
.psql_history
.viminfo
myenv/*
3.5_myenv/*
staticfiles/*

