{% extends "webpage/layout.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load maps_extras %}
{% load render_table from django_tables2 %}
{% block title %}Diauma - Institute{% endblock %}
{% block content %}
    {% block breadcrumbs %}
        {% breadcrumb "Institute" "maps:institute" %}
        {% breadcrumb institute.name '' %}
    {% endblock %}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
            {% if map_table.data|length > 0 %}
                <li><a href="#maps" data-toggle="tab">Maps</a></li>
            {% endif %}
            {% if member_table.data|length > 0 %}
                <li><a href="#members" data-toggle="tab">Members</a></li>
            {% endif %}
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="overview">
                <div class="button-bar">
                    <a class="button" href="{% url 'maps:institute-update' institute.id %}">Update</a>
                    <form method="POST" action="{% url 'maps:institute-delete' institute.id %}">
                        {% csrf_token %}
                        <input id="delete-institute" type="submit" value="Delete">
                    </form>
                </div>
                <h3>{{ institute.name }}</h3>
                {% if location_at %}
                    <p>Located at: {{ location_at|link }}</p>
                {% endif %}
                {{ institute|display_info }}
                {{ institute|display_dates }}
            </div>
            {% if map_table.data|length > 0 %}
                <div class="tab-pane" id="maps">
                    {% render_table map_table %}
                </div>
            {% endif %}
            {% if member_table.data|length > 0 %}
                <div class="tab-pane" id="members">
                    {% render_table member_table %}
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).on('click', '#delete-institute', function(){
            return confirm('Delete {{ object.name }}?');
        })
    </script>
{% endblock %}
