{% extends "webpage/layout.html" %}
{% load maps_extras %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% block title %}Diauma - Institute{% endblock %}
{% load i18n %}
{% block content %}
    {% block breadcrumbs %}
        {% breadcrumb "Institute" "maps:institute" %}
    {% endblock %}
    <div class="button-bar">
        <a class="button" href="{% url 'maps:institute-create' %}">{% trans "institute"|capfirst %} +</a>
    </div>
    {% render_table institute_table %}
{% endblock %}
