{% extends "webpage/layout.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}Diauma - Institute{% endblock %}
{% block content %}
<div class="container">
    {% block breadcrumbs %}
        {% breadcrumb "Institute" "maps:institute" %}
        {% breadcrumb object "maps:institute-detail" object.id %}
        {% breadcrumb "Update" "" %}
    {% endblock %}
    <h2>{{ object.name }}</h2>
    <div class="panel-body">
        {% crispy form %}
    </div>
</div>
{% endblock %}
