@charset "UTF-8";

div.form-float {
    float: left;
    margin-right: 2em;
}

div.form-header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
}

div.created {
    color: #999999;
    font-size: 0.9em;
}

table.paleblue {
    font-size: 1.2em;
}

.navbar-nav.nav > li > a {
    font-weight: bold;
}

.breadcrumb {
    background-color: #e7e7e7;
}


.navbar-nav.nav > li.active > a {
    color: #4088c3;
}

input[type="submit"], button, .submit, a.button, span.button, #buttonBar a, .buttonBar a, #breadcrumb {
    background-color: #4088c3;
}

input[type="submit"], #breadcrumb div a, .submit, button, a.button, #buttonBar a, .buttonBar a,
span.button {
    color: #ffffff;
}

input[type="submit"], .submit, a.button, #buttonBar a, button, .buttonBar a, span.button {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 1em;
    padding: 0.3em 0.5em;
    text-decoration: none;
}

input[type="submit"], a.button, #buttonBar a, button, .buttonBar a, span.button, input[type="text"],
textarea, input[type="password"], select {
    border-radius: 0.1em;
}

.form-control {
    width: 20em;
}

textarea.form-control {
    width: 60em;
}

input[type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    background-color: #4088c3;
}

#login-logout {
    margin: 1em;
    margin-top: 1.5em;
}

#login-logout a {
    text-decoration: none;
}

.breadcrumb {
    font-weight: bold;
    clear: both;
    font-size: 1.2em;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb > li + li::before {
    content: '';
    padding: 0;
}

.breadcrumb > li {
    white-space: nowrap;
}

.asteriskField {
    margin-left: 0.2em;
}

.button-bar {
    margin: 1em;
    clear: right;
}

.submit, a.button, button, .button-bar a, span.button, .button-bar form {
    display: inline-block;
}

.tab-pane {
    margin: 1em;
}
