@charset "UTF-8";

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: sans-serif;
}

a {
    color: #3b89ad;
}

.main-content, .main-footer {
    background-color: #f1f1f1;
}

#disk_size {
    width: 40em;
    margin-bottom: 1em;
}

#disk_size .ui-widget-header {
    background-color: #88dbdf;
    margin: 0;
}

div.messages {
    margin-top: 0.5em;
    font-color: #666666;
}

footer a, .about a {
    border-bottom: 1px solid #88dbdf;
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease 0s;
}

table.paleblue a:link, table.paleblue a:visited, table.paleblue + ul.pagination > li > a {
    border: none;
    color: #3b89ad;
    text-decoration: none;
}

.navbar-nav > li > a {
    padding-bottom: 0;
}

span.diauma-tooltip {
    border-style: solid;
    border-width: 1px;
    cursor: help;
    font-family: courier new,monospace;
    font-weight: bold;
    padding: 0.1em;
    position: relative;
    background-color: #ffffff;
    color: #2e6da4;
    font-size: 1.3em;
}

select {
    background-color: #ffffff;
}

table.paleblue a.button {
    color: white;
}

#seadragon {
    width: 800px;
    height: 600px;
    border: 1px #999999 solid;
}

#seadragon-toolbar {
    padding-top: 3em;
}

.search-button {
    font-size: 1.1em;
    margin-right: 0;
}

#search-term {
    color: black;
    width: 10em;
}

#search-form {
    float: left;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: none;
}

#language-form span {
    margin: 0.2em;
    cursor: pointer;
}

#language-form span.selected {
    color: #3b89ad;
    font-weight: bold;
}

td, th {
    white-space: nowrap;
}

.navbar-static-top {
    z-index: 0;
}

#search-form button, #search-form input {
    padding: 0 0.2em;
}

#manual h2 {
    color: #ffffff;
    background-color:  #88dbdf;
    padding: 0.5em;
}

header {
    flex: 0 0 auto;
    border-bottom: 5px solid #88dbdf;
    margin-bottom: 20px;
}

#goto {
    width: auto;
    float: left;
}

.pagination {
    margin: 0.5em 0;
}

div.detail-column {
    float:left;
    margin-right: 3em;
}

.main-content {
    flex: 1 0 auto;
}

div.form-float {
    float: left;
    margin-right: 2em;
}

.form-control {
    width: 20em;
}

.navbar-nav a {
    border: none;
}

textarea.form-control {
    width: 60em;
}

input[type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    background-color: #88dbdf;
}

#login-logout {
    text-align: right;
    float: right;
    margin-top: 1em;
}

#login-logout a {
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}

div.date-fields div.form-group {
    float: left;
    margin-right: 1em;
}

/* hide spinner form number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.changelog-version {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.3em;
    width: 500px;
    background-color: #88dbdf;
    color: #ffffff;
}

div.changelog-date {
    font-size: 0.9em;
    padding: 0.4em 0;
}

div.changelog {
    margin: 1.5em 0 2em 0;
}

div.form-header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
}

div.created {
    color: #999999;
    font-size: 0.9em;
    margin-top: 1em;
}

input.date {
    width: 9em;
    float: left;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input[type="submit"], button, .submit, a.button, span.button,
#buttonBar a, .buttonBar a, .btn, .btn-primary {
    background-color: #3b89ad;
}

.breadcrumb {
    background-color: #CCC;
}


.navbar-nav > li > span {
    display: inline-block;
    padding-top: 14px;
}

input[type="submit"], #breadcrumb div a, .submit, button, a.button, #buttonBar a, .buttonBar a,
span.button {
    color: #ffffff;
}

input[type="submit"], .submit, a.button, #buttonBar a, button, .buttonBar a, span.button {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 1em;
    padding: 0.3em 0.5em;
    text-decoration: none;
}

input[type="submit"], a.button, #buttonBar a, button, .buttonBar a, span.button, input[type="text"],
textarea, input[type="password"], select {
    border-radius: 0.1em;
}

.navbar-nav.nav > li.active > a {
    color: #3b89ad;
}

.error {
    background-color: #ffffff;
    color: #a94442;
    padding: 0.1em 0.3em;
}


#login-container {
    display: inline-block;
    margin: 1em;
}

#login-container td {
    padding: 0.5em;
    padding-right: 0;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.main-footer {
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 3;
}

.main-footer .footer-wrapper .footer-sep {
    border-bottom: 1px solid #333333;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 35px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.main-footer .footer-wrapper {
    display: inline-block;
    padding: 25px 20px 50px;
    width: 100%;
}

.csc-textpic-text {
    padding-left: 20px;
}

.footer-imprint-bar {
    background-color: #f1f1f1;
    font-size: 14px;
    padding: 8px;
    text-align: center;
}

.footer-imprint-bar a {
    border-bottom: 1px solid #88dbdf;
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease 0s;
}

img.preview {
    max-width: 600px;
    max-height: 400px;
    margin-top: 1em;
}

legend {
  background-color: #efefef;
  padding: 10px;
}

#github-logo {
    width: 10%;
    height: auto;
    padding: 10px 0 10px 0;
}

#orea-logo {
    width: 25%;
    height: auto;
    padding: 10px 0 10px 0;
}

@media (max-width: 768px) {
    #acdh-logo, #orea-logo {
        width: 15%;
    }
    #github-logo {
        width: 7%;
    }
}

.procustom-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.procustom-navbar {
    background-color: #ffffff;
    margin-bottom: 0;
    border: none;
    height: auto;
}

#top-procustom-navbar {
    margin: 0;
}

#top-procustom-navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

#procustom-affix {
    height: auto;
}

#top-procustom-navbar.mini-nav {
    box-shadow: 0 5px 5px rgba(50, 50, 50, 0.75)
}

@media (min-width: 768px) and (max-width: 1105px) {
    .navbar-right {
        float: none !important;
    }
}

table.paleblue {
    font-size: 1.2em;
}

div.ui-dialog-titlebar button {
    float: right;
    margin-right: 0;
    padding: 0.1em 0.5em;
}

.ui-dialog .ui-dialog-title {
    font-size: 1.1em;
    float: none;
}

div.table-row {
    display: table-row;
}


div.table-row div {
    padding: 0.2em;
    text-align: right;
}


.table-row .button {
    font-size: 0.9em;
}


div.table-row div.table-cell {
    display: table-cell;
    width: inherit;
    text-align: left;
}

.navbar-nav.nav > li > a {
    font-weight: bold;
}

.breadcrumb {
    font-weight: bold;
    clear: both;
    font-size: 1.2em;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb > li + li::before {
    content: '';
    padding: 0;
}

.breadcrumb > li {
    white-space: nowrap;
}

.asteriskField {
    margin-left: 0.2em;
}

.button-bar {
    margin: 1em;
    clear: right;
}

.submit, a.button, button, .button-bar a, span.button, .button-bar form {
    display: inline-block;
}

.tab-pane {
    margin: 1em;
}

.procustom-index{
    background-color: #efefef;
    height: auto;
    padding: 40px;
}

.procustom-search-wrapper {
    padding: 40px 20px 40px 20px;
}

.procustom-nav-tabs > li > a{
    color: #777777;
}

.procustom-nav-tabs > li.active > a{
    background-color: #ced0d4;
}

.responsive-tabs.nav-tabs > li.active > a {
    background-color: #ced0d4;
}

.responsive-tabs.nav-tabs > li > a:hover {
    color: #333333;
}

.procustom-tab-content{
    background-color: #ffffff;
    padding: 40px;
    border: 1px solid #dddddd;
    border-top: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.procustom-panel-list {
    margin-top: 20px;
    border: none;
}

.procustom-panel-list > .procustom-panel-heading {
    background-color: white;
}

.procustom-panel-create {
    margin-top: 20px;
    border: none;
}

.procustom-panel-create > .procustom-panel-heading {
    background-color: white;
}

.procustom-form {
    padding: 20px 0 20px 0;
}

.btn {
    font-weight: bold;
    font-variant: small-caps;
    white-space: normal;
}

.btn-default {
    margin-bottom: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.overlay-container {
    font-size: 0.9em;
}
