@xs: 768px;

.responsive-tabs.nav-tabs {
    position: relative;
    z-index: 10;
    height: 42px;
    overflow: visible;
    border-bottom: none;

    span.glyphicon {
        position: absolute;
        top: 14px;
        right: 22px;
        &.glyphicon-triangle-top {
            display: none;
        }
        @media(min-width: @xs) {
            display: none;
        }
    }

    > li {
        display: none;
        float: none;
        text-align: center;
        &:last-of-type > a {
            margin-right: 0;
        }

    > a {
        margin-right: 0;
        background: #fff;
        border: 1px solid #DDDDDD;
        @media(min-width: @xs) {
            margin-right: 4px;
        }
    }

    &.active {
        display: block;
        a {
            @media(min-width: @xs) {
                border-bottom-color: transparent;
            }
            border: 1px solid #DDDDDD;
        }
    }

    @media(min-width: @xs) {
            display: block;
            float: left;
        }
    }

    &.open {
        span.glyphicon {
            &.glyphicon-triangle-top {
                display: block;
                @media(min-width: @xs) {
                    display: none;
                }
            }
            &.glyphicon-triangle-bottom {
                display: none;
            }
        }
        > li {
            display: block;
            a {
                border-radius: 0;
            }
        }
    }
}
