{% extends "webpage/layout.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load maps_extras %}
{% block title %}Diauma - Files{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% block breadcrumbs %}
    {% breadcrumb "Files" "files:files-index" %}
    {% breadcrumb_safe file.name|truncate_string '' %}
{% endblock %}
<div class="container">
    <div class="button-bar">
        <a class="button" href="{% url 'files:file-update' file.id %}">Update</a>
        <form method="POST" action="{% url 'files:file-delete' file.id %}">
            {% csrf_token %}<input id="delete-file" type="submit" value="Delete">
        </form>
    </div>
</div>
<script>
    $(document).on('click', '#delete-file', function(){
        return confirm('Delete {{ file.name }}?');
    })
</script>
{% endblock %}
