{% extends "webpage/layout.html" %}
{% load maps_extras %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %}{% trans "map"|capfirst %}{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "map" "maps:map" %}
{% endblock %}
{% block content %}
    <div class="button-bar">
        <a class="button" href="{% url 'maps:map-create' %}">{% trans "map"|capfirst %} +</a>
    </div>
    {% render_table map_table %}
{% endblock %}
