{% extends "webpage/layout.html" %}
{% load maps_extras %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %}{% trans "browse"|capfirst %}{% endblock %}
{% block content %}
    <h2>{% trans 'browse'|capfirst %}</h2>
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'en' %}
        <p>
            Welcome to the interactive search area of the DIAUMA database! Here you can search for
            specific maps from the database.
        </p>
        <p>
            As a first option you can filter the database to return maps associated with specific
            persons. For instance, you can choose to only look for maps by „Eberhard Kranzmayer“
            or „Arnold Hillen Ziegfeld“ etc. As all of the maps in the database have been tagged
            with their respective authors, this is a simple way to get a quick overview of a
            cartographer/author and their maps.
        </p>
    {% else %}
        <p>
            Willkommen im interaktiven Suchbereich der DIAUMA-Datenbank! Hier ist es möglich, die
            in der Datenbank eingepflegten Karten gezielt zu suchen.
        </p>
        <p>
            Als erste Filteroption steht Ihnen die Auswahl der Personen zur Verfügung. Hier können
            Sie auswählen, dass beispielsweise nur Karten von "Eberhard Kranzmayer" oder "Arnold
            Hillen Ziegfeld" etc. angezeigt werden. Da alle Karten der Datenbank den jeweiligen
            Autoren/ Kartenzeichnern zugeordnet sind, ist dies eine simple Möglichkeit, sich einen
            Überblick über die jeweiligen Personen und ihre Karten zu verschaffen.
        </p>
        <p>
            Weiters kann man nach den references filtern, also nach jenen „Sammlungen“, Sets oder
            (abgeschlossenen) Atlaswerken, welche Karten beinhalten. Als Namen der Karten sehen Sie
            die Original-Titel oder Titel, die ihnen von uns zur Erleichterung der Identifikation
            (und bei Eindeutigkeit der Thematik) gegeben wurden.
        </p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="{% trans 'apply'|capfirst %}">
    </form>
    <br/>
    {% render_table table %}
{% endblock %}
