{% extends "webpage/layout.html" %}
{% load i18n %}

{% load maps_extras %}
{% load humanize %}
{% load render_table from django_tables2 %}
{% block title %}{% trans "map"|capfirst %}{% endblock %}
{% block content %}
<div class="container">
    <h2>
        {% if map.title %}
            {{ map.title }}
        {% else %}
            {{ map.name }}
        {% endif %}
    </h2>
    <div>
        {% if iiif %}
            <div id="seadragon-toolbar"></div>
            <div id="seadragon"></div>
            <script src="{{ iiif.library_path|add:'openseadragon.min.js' }}"></script>
            {{ iiif.tile_sources|json_script:"hello-data" }}
            <script>
                var tiles = JSON.parse(document.getElementById('hello-data').textContent);
                console.log(tiles)
                var viewer = OpenSeadragon({
                    id: "seadragon",
                    prefixUrl: "{{ iiif.library_path|add:'images/'  }}",
                    toolbar: "seadragon-toolbar",
                    sequenceMode: true,
                    tileSources: tiles
                });
            </script>
        {% elif scan %}
            {{ scan|display_image }}
        {% endif %}
    </div>
    <div>
        {% for x in image_sources %}
        <p>
            <a class="button" download target="_blank" href="{{ x }}">{% trans 'download'|capfirst %}</a>
        </p>
        {% endfor %}
    </div>
    <div>
        {% if map.map_id %}
            <p>{% trans "map"|capfirst %} ID: {{ map.map_id }}</p>
        {% endif %}
        {% if map.scale %}
            <p>{% trans "scale"|capfirst %}: 1:{{ map.scale|intcomma }}</p>
        {% endif %}
        {% if map.width %}
            <p>{% trans "width"|capfirst %}: {{ map.width }} cm</p>
        {% endif %}
        {% if map.height %}
            <p>{% trans "height"|capfirst %}: {{ map.height }} cm</p>
        {% endif %}
        {% if map.date_created %}
        <p>
            {% trans "creation date"|capfirst %}: {{ map.date_created|format_date:'%Y' }}
            {% if map.date_created2 %}
                - {{ map.date_created2|format_date }}
            {% endif %}
        </p>
        {% endif %}
        {% if map.date_content %}
        <p>
            {% trans "content date"|capfirst %}: {{ map.date_content|format_date:'%Y' }}
            {% if map.date_content2 %}
                - {{ map.date_content2|format_date:'%Y' }}
            {% endif %}
        </p>
        {% endif %}
        {% if has_base %}
            <p>{% trans "has base map"|capfirst %}: {{ has_base }}</p>
        {% endif %}
        {% if copy_of %}
            <p>{% trans "is copy of"|capfirst %}: {{ copy_of }}</p>
        {% endif %}
        {% autoescape off %}
        {% if links.authors %}
            <p>{% trans "created by"|capfirst %}: {{ links.authors|join:', ' }}</p>
        {% endif %}
        {% if links.publishers %}
            <p>{% trans "published by"|capfirst %}: {{ links.publishers|join:', ' }}</p>
        {% endif %}
        {% if links.references %}
            <p>{% trans "reference"|capfirst %}: {{ links.references|join:', ' }}</p>
        {% endif %}
        {% endautoescape %}
        {% if issued_at %}
            <p>{% trans "issued at"|capfirst %}: {{ issued_at }}</p>
        {% endif %}
        {% if location_at %}
            <p>{% trans "located at"|capfirst %}: {{ location_at }}</p>
        {% endif %}
    </div>
    {{ map|display_info }}
</div>
{% endblock %}
