{% extends "webpage/layout.html" %}

{% load maps_extras %}
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "files"|capfirst %}{% endblock %}
{% block content %}
    <div class="container">
        <ul id="tabs" class="nav nav-tabs">
            <li id="overview-tab-header">
                <a href="#overview" data-toggle="tab">{% trans "overview"|capfirst %}</a>
            </li>
            {% if tables.maps.data|length > 0 %}
                <li id="maps-tab-header"><a href="#maps" data-toggle="tab">{% trans "maps"|capfirst %}</a></li>
            {% endif %}
            {% if tables.references.data|length > 0 %}
                <li id="references-tab_header">
                    <a href="#references" data-toggle="tab">{% trans "references"|capfirst %}</a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane" id="overview">
                <div class="button-bar">
                    <a class="button" href="{% url 'maps:scan-update' scan.id %}">{% trans "update"|capfirst %}</a>
                    <form method="POST" action="{% url 'maps:scan-delete' scan.id %}">
                        {% csrf_token %}<input id="delete-scan" type="submit" value="{% trans 'delete'|capfirst %}">
                    </form>
                    <a class="button" download target="_blank" href="{{ scan.file.url }}">{% trans 'download'|capfirst %}</a>
                </div>
                <h2>{{ scan.name }}</h2>
                <div>
                    <div class="detail-column">
                        <h3>{% trans "information"|capfirst %}</h3>
                        {% if scan.file|file_exists %}
                            <p>{% trans "file size"|capfirst %}: {{ scan.file.size|filesizeformat }}</p>
                        {% endif %}
                        <p>{% trans "file type"|capfirst %}: {{ scan.file.name|mime_type }}</p>
                        {% include "maps/types_for_detail_view.html" %}
                    </div>
                    <div class="detail-column">
                        <div id="seadragon-toolbar"></div>
                        {% if iiif %}
                            <div id="seadragon"></div>
                            <script src="{{ iiif.library_path|add:'openseadragon.min.js' }}"></script>
                            <script>
                                var viewer = OpenSeadragon({
                                    id: "seadragon",
                                    prefixUrl: "{{ iiif.library_path|add:'images/'  }}",
                                    toolbar: "seadragon-toolbar",
                                    tileSources: "{{ iiif.tile_sources }}",
                                });
                            </script>
                        {% else %}
                            {{ scan|display_image }}
                        {% endif %}
                    </div>
                    <div style="clear:both;"></div>
                    {{ scan|display_info }}
                    {{ scan|display_dates }}
                </div>
            </div>
            {% if tables.maps.data|length > 0 %}
                <div class="tab-pane" id="maps">
                    {% render_table tables.maps %}
                </div>
            {% endif %}
            {% if tables.references.data|length > 0 %}
                <div class="tab-pane" id="references">
                    {% render_table tables.references %}
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).on('click', '#delete-scan', function(){
            return confirm('{% blocktrans with scan.name as name %}Delete {{ name }}?{% endblocktrans %}');
        })
    </script>
{% endblock %}
