{% extends "webpage/layout.html" %}

{% load crispy_forms_tags %}
{% load maps_extras %}
{% load i18n %}
{% block title %}{% trans "files"|capfirst %}{% endblock %}
{% block content %}
    <div class="container">

        <div class="panel-body">
            {% crispy form %}
        </div>
    </div>
    <script>
        $('#id_file').on("change", function() {
            /* if name is empty, fill with filename without the extension */
            if ($('#id_name').val() == '') {
                var filename = $('#id_file')[0].files.length ? $('#id_file')[0].files[0].name : '';
                $('#id_name').val(filename.replace(/\.[^/.]+$/, ""));
            }
        });
    </script>
{% endblock %}
