{% extends "webpage/layout.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "place"|capfirst %}{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "place" "maps:place" %}
    {% breadcrumb "+" '' %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="panel-body">
            {% crispy form %}
        </div>
    </div>
    <script src="{% static 'webpage/js/geonames_search.js' %}"></script>
{% endblock %}
