{% extends "webpage/layout.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load maps_extras %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %}{% trans "place"|capfirst %}{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "place" "maps:place" %}
    {% breadcrumb place.name|truncate_string '' %}
{% endblock %}
{% block content %}
    <div class="container">
        <ul id="tabs" class="nav nav-tabs">
            <li id="overview-tab-header">
                <a href="#overview" data-toggle="tab">{% trans "overview"|capfirst %}</a>
            </li>
            {% if person_table.data|length > 0 %}
                <li id="persons-tab-header">
                    <a href="#persons" data-toggle="tab">{% trans "persons"|capfirst %}</a>
                </li>
            {% endif %}
            {% if institute_table.data|length > 0 %}
                <li id="institutes-tab-header">
                    <a href="#institutes" data-toggle="tab">{% trans "institute"|capfirst %}</a>
                </li>
            {% endif %}
            {% if issue_table.data|length > 0 %}
                <li id="issues-tab-header">
                    <a href="#issues" data-toggle="tab">{% trans "issued maps"|capfirst %}</a>
                </li>
            {% endif %}
            {% if location_table.data|length > 0 %}
                <li id="locations-tab-header">
                    <a href="#locations" data-toggle="tab">{% trans "located maps"|capfirst %}</a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane" id="overview">
                <div class="button-bar">
                    <a class="button" href="{% url 'maps:place-update' place.id %}">{% trans "update"|capfirst %}</a>
                    <form method="POST" action="{% url 'maps:place-delete' place.id %}">
                        {% csrf_token %}
                        <input id="delete-place" type="submit" value="{% trans 'delete'|capfirst %}">
                    </form>
                </div>
                <h2>{{ place.name }}</h2>
                <div class="detail-column">
                    <h3>{% trans "information"|capfirst %}</h3>
                    {% if place.modern_name %}
                        <p>{% trans 'modern name'|capfirst %}: {{ place.modern_name }}</p>
                    {% endif %}
                    {% if place.geonames_id %}
                        <p>
                            GeoNames Id:
                            <a href="http://www.geonames.org/{{ place.geonames_id }}" rel="noopener" target="_blank">{{ place.geonames_id }}</a>
                        </p>
                    {% endif %}
                </div>
                {% include "../types_for_detail_view.html" %}
                <div style="clear:both;"></div>
                {{ place|display_info }}
                {{ place|display_dates }}
            </div>
            {% if person_table.data|length > 0 %}
                <div class="tab-pane" id="persons">
                    {% render_table person_table %}
                </div>
            {% endif %}
            {% if institute_table.data|length > 0 %}
                <div class="tab-pane" id="institutes">
                    {% render_table institute_table %}
                </div>
            {% endif %}
            {% if issue_table.data|length > 0 %}
                <div class="tab-pane" id="issues">
                    {% render_table issue_table %}
                </div>
            {% endif %}
            {% if location_table.data|length > 0 %}
                <div class="tab-pane" id="locations">
                    {% render_table location_table %}
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).on('click', '#delete-place', function(){
            return confirm('{% blocktrans with object.name as name %}Delete {{ name }}?{% endblocktrans %}');
        })
    </script>
{% endblock %}
