{% extends "webpage/layout.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}Diauma - Place{% endblock %}
{% block content %}
<div class="container">
    {% block breadcrumbs %}
        {% breadcrumb "Place" "maps:place" %}
        {% breadcrumb object "maps:place-detail" object.id %}
        {% breadcrumb "Update" "" %}
    {% endblock %}
    <h2>{{ object.name }}</h2>
    <div class="panel-body">
        {% crispy form %}
    </div>
</div>
{% endblock %}
