{% extends "webpage/layout.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "about"|capfirst %}{% endblock %}
{% block content %}
<div class="container">
    <h2>Get to know DIAUMA</h2>
    <p>Projektbeschreibung DIAUMA (Digitizing Austrian Dialect Maps)</p>
    <p>
        Digitalisierungsprojekt:
        <strong>Österreichische Dialetkartographie 1924-1956. Digitalisierung, Kontextualisierung, Visualisierung.</strong>
    </p>
    <p>
        Förderprogramm: Go!Digital 2.0<br/>
        Projektnummer.: GD 2016/24
    <p/>
    <p>
        Das zentrale Vorhaben unseres Projektes war die <strong>Digitalisierung</strong> historischer Sprach-und Dialektkarten
        des (mittel-)europäischen Raums aus den Jahren 1924-1956 und die Sammlung der historischen Informationen
        über diese Karten in einer Datenbank. Diese historischen Daten schafften dabei die Grundlage für eine
        kritische Beschreibung, also eine historische <strong>Kontextualisierung</strong> des Materials. So finden sich in der
        Datenbank Informationen zu den Erstellern und Kartenzeichnern solcher Karten, zum institutionellen Hintergrund,
        zu dem Jahr aus dem eine solche Karte stammt, zu dem Verlag, in dem sie erschien und einiges mehr.
        Sowohl die Scans der Karten wie auch deren Daten kann man sich online und frei verfügbar ansehen,
        sie sind also in Form einer digitalen <strong>Visualisierung</strong> zugänglich.
    </p>
    <p>Aber was sind nun Sprachkarten genau? Was kann man sich darunter vorstellen?</p>
    <p>
        Sprachkarten sind, kurz und bündig formuliert, Karten des geographischen Raumes, in denen Informationen
        über den Sprachgebrauch in den jeweiligen Gebieten eingezeichnet und dargestellt sind. Die Sammlung solcher
        sprachlichen Informationen, die dann in einem weiteren Schritt auf Karten gezeichnet werden, kann über direkte
        Sprachaufnahmen vor Ort geschehen, oder aber durch Fragebogen, die an die jeweiligen Orte gesendet werden,
        die man untersuchen möchte. Man kann Dialekte, also Mundarten untersuchen, kann aber natürlich auch Nationalsprachen
        untersuchen und erheben.
    <p>
        Diese Praxis des Kartenzeichnens – die Sprachkartographie – hängt, wie man schon am Namen erkennen kann,
        mit zwei wissenschaftlichen Disziplinen zusammen: mit der Geographie und der Sprachwissenschaft.
        Dabei hatte die Sprachkartographie gleichzeitig starke Verbindungen zur Kulturgeographie, da Sprache ein wichtiges Merkmal
        menschlicher Kultur darstellt und somit auch für kulturgeographische Forschungen von Interesse war.
    </p>
    <p>
        So kam man schließlich auch auf die Idee, Spracheerhebungen zu machen und diese Daten dann auf Karten darzustellen. Dies
        machte man schließlich nicht nur mit verschiedenen Sprachen wie Deutsch, Tschechisch etc. sondern auch mit verschiedenen
        Dialekten, wie den deutschen Dialekten in Deutschland oder in Österreich. Dabei entwickelten sich verschiedene Schulen der
        Sprachkartographie mit dem Sprachatlas des deutschen Reiches (in Marburg an der Lahn in Hessen) als großes Vorbild. In
        Österreich wurde eine solche sprachwissenschaftliche Form der Sprachkartographie von Dialektforschern der Akademie der
        Wissenschaften in Wien betrieben: die sogenannte Wiener Dialektologische Schule, die in erster Linie ein Dialektwörterbuch
        der bairischen Mundarten vorbereitete, begann ab den 1920er Jahren vermehrt mit der Produktion von solchen Sprachkarten,
        die die entsprechenden Dialekte kartographisch visualisierten.  Dabei zeigt sich aus heutiger und kritischer Perspektive ganz klar,
        dass mit der Kartierung von Raum und Sprache immer auch spezifische politische Konzepte eine große Rolle spielen. Im Fall
        der Dialektologie des Deutschen, also jener Disziplin, die die deutschen Mundarten untersucht, hat man es gerade in der
        ersten Hälfte des 20. Jahrhunderts mit politischen Ideen des Deutschnationalismus, des großdeutschen Denkens oder des Nationalsozialismus zu tun.
        Auch im Fall der uns vorliegenden Karten ist klargeworden, dass politisch-ideologische Vorstellungen davon, was das „Deutschtum“
        sein soll, in der Kartierung von Sprache einen hohen Stellenwert besaßen. Die „völkische“ Idee einer deutschen Vormachtstellung
        in Europa sowie expansive Bestrebungen zur Zeit des Nationalsozialismus und des Zweiten Weltkriegs werden anhand der Kartierung
        von Sprache offenbar. Dabei muss man aber auch differenzieren: Selbstverständlich ist nicht jede Sprachkarte ideologisch,
        allerdings war jedwede Expansions-und Geopolitik immer kartographisch fundiert!
    </p>
    <p>
        Was sich in Bezug auf Sprachkarten auch zeigt ist, dass es eine sehr bestimmte Wirkung auf den/die Betrachter/in einer Karte hat,
        wenn ein so dynamisches Phänomen wie Sprache im Sinne eines Territorial-Prinzips abgesteckt wird. Dadurch suggerieren Karten immer
        eine gewisse Statik und Starrheit, die dynamische Prozesse nicht einzufangen und darzustellen vermögen.
    </p>
    <p>
        Das Projekt <strong>Österreichische Dialektkartographie 1924-1956. Digitalisierung, Kontextualisierung, Visualisierung</strong>
        ist ein Kooperationsprojekt des „Wörterbuchs bairischer Mundarten in Österreich“ (WBÖ) an der Abteilung „Variation und Wandel des
        Deutschen in Österreich“ (VaWADiÖ) und stellt zudem ein Satellitenprojekt des Spezialforschungsbereichs „Deutsch in Österreich“
        (Universität Wien, Universität Graz, Universität Salzburg, ÖAW) dar.
    <p/>
</div>
{% endblock %}
