{% extends "webpage/layout.html" %}
{% load maps_extras %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %}Changelog{% endblock %}
{% block content %}
    {% block breadcrumbs %}
        {% breadcrumb "Changelog" "maps:changelog" %}
    {% endblock %}
    <div class="changelog">
        <div class="changelog-version">Version 0.17.0</div>
        <div class="changelog-date">2018-11-20</div>
        <p>
            &#8226; Feature #9880: Preperations for Arche<br />
            &#8226; Feature #12400: Show map counter at person
        </p>
        <div class="changelog-version">Version 0.16.0</div>
        <div class="changelog-date">2018-08-19</div>
        <p>
            &#8226; Feature #11937: Show more information for types<br />
        </p>
        <div class="changelog-version">Version 0.15.0</div>
        <div class="changelog-date">2018-07-16</div>
        <p>
            &#8226; Feature #9546: Tooltips for form items<br />
            &#8226; Feature #11310: Data for GND widget<br />
            &#8226; Feature #11348: Manual page for basemap types
        </p>
        <div class="changelog-version">Version 0.14.0</div>
        <div class="changelog-date">2018-06-11</div>
        <p>
            &#8226; Feature #10829: Link persons to GND
        </p>
        <div class="changelog-version">Version 0.13.0</div>
        <div class="changelog-date">2018-05-07</div>
        <p>
            &#8226; Feature #10909: File upload for References<br />
            &#8226; Feature #10951: Hierarchies for References<br />
            &#8226; Feature #10936: Show overview of latest additions<br />
            &#8226; Feature #11103: Show disk usage
        </p>
        <div class="changelog-version">Version 0.12.0</div>
        <div class="changelog-date">2018-04-11</div>
        <p>
            &#8226; Feature #10413: Mapping of places to GeoNames<br />
            &#8226; Feature #9861: Adapt layout to institute layout
        </p>
        <div class="changelog-version">Version 0.11.0</div>
        <div class="changelog-date">2018-02-13</div>
        <p>
            &#8226; Feature #10554: Update Django to Django 2<br />
            &#8226; Fix #10555: Problems with special characters in file upload
        </p>
        <div class="changelog-version">Version 0.10.0</div>
        <div class="changelog-date">2018-01-22</div>
        <p>
            &#8226; Feature #10283: Translations in frontend
        </p>
        <div class="changelog-version">Version 0.9.0</div>
        <div class="changelog-date">2018-01-03</div>
        <p>
            &#8226; Feature #10047: Move types in frontend
        </p>
        <div class="changelog-version">Version 0.8.0</div>
        <div class="changelog-date">2017-11-27</div>
        <p>
            &#8226; Feature #9548: IIIF server for images<br />
            &#8226; Feature #9899: Advanced view for orphaned files
        </p>
        <div class="changelog-version">Version 0.7.0</div>
        <div class="changelog-date">2017-11-08</div>
        <p>
            &#8226; Feature #9794: Advanced type overview<br />
            &#8226; Feature #9874: Find and mark orphaned files or file data<br />
            &#8226; Feature #9789: Documentation with Sphinx<br />
        </p>
        <div class="changelog-version">Version 0.6.0</div>
        <div class="changelog-date">2017-10-16</div>
        <p>
            &#8226; Feature #8604: File upload<br />
        </p>
        <div class="changelog-version">Version 0.5.0</div>
        <div class="changelog-date">2017-09-25</div>
        <p>
            &#8226; Feature #8591: Network Graph<br />
            &#8226; Feature #9467: Layout improvements<br />
            &#8226; Feature #9468: Maps: display dates in lists<br />
            &#8226; Feature #9469: Person: add dates, display in list<br />
            &#8226; Feature #9470: Place: add field for modern name, display in list<br />
            &#8226; Feature #9471: Institute: show place in list
        </p>
        <div class="changelog-version">Version 0.4.0</div>
        <div class="changelog-date">2017-09-13</div>
        <p>
            &#8226; Feature #8606: Search<br />
            &#8226; Feature #9456: Manual<br />
        </p>
        <div class="changelog-version">Version 0.3.0</div>
        <div class="changelog-date">2017-09-07</div>
        <p>
            &#8226; Feature #8599: Types<br />
            &#8226; Feature #8602: References<br />
            &#8226; Feature #8603: Place<br />
            &#8226; Feature #8608: Institute<br />
        </p>
        <div class="changelog-version">Version 0.2.0</div>
        <div class="changelog-date">2017-07-18</div>
        <p>
            &#8226; Feature #8597: Maps<br />
            &#8226; Feature #8601: Dates<br />
            &#8226; Feature #9053: Own repository<br />
        </p>
        <div class="changelog-version">Version 0.1.0</div>
        <div class="changelog-date">2017-06-22</div>
        <p>
            &#8226; Feature #8588: Base Site (CBAB webpage)<br />
            &#8226; Feature #8589: Deploy Website<br />
            &#8226; Feature #8592: Basic Model<br />
            &#8226; Feature #8798: Intro text<br />
        </p>
    </div>
{% endblock %}

