{% extends "webpage/layout.html" %}
{% load maps_extras %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% block title %}Diauma - Changelog{% endblock %}
{% block content %}
    {% block breadcrumbs %}
        {% breadcrumb "Changelog" "maps:changelog" %}
    {% endblock %}
    <div class="changelog">
        <div class="changelog-version">Version 0.5.0</div>
        <div class="changelog-date">2017-09-25</div>
        <p>
            &#8226; Feature #8591: Network Graph<br />
            &#8226; Feature #9467: Layout improvements<br />
            &#8226; Feature #9468: Maps: display dates in lists<br />
            &#8226; Feature #9469: Person: add dates, display in list<br />
            &#8226; Feature #9470: Place: add field for modern name, display in list<br />
            &#8226; Feature #9471: Institute: show place in list
        </p>
        <div class="changelog-version">Version 0.4.0</div>
        <div class="changelog-date">2017-09-13</div>
        <p>
            &#8226; Feature #8606: Search<br />
            &#8226; Feature #9456: Manual<br />
        </p>
        <div class="changelog-version">Version 0.3.0</div>
        <div class="changelog-date">2017-09-07</div>
        <p>
            &#8226; Feature #8599: Types<br />
            &#8226; Feature #8602: References<br />
            &#8226; Feature #8603: Place<br />
            &#8226; Feature #8608: Institute<br />
        </p>
        <div class="changelog-version">Version 0.2.0</div>
        <div class="changelog-date">2017-07-18</div>
        <p>
            &#8226; Feature #8597: Maps<br />
            &#8226; Feature #8601: Dates<br />
            &#8226; Feature #9053: Own repository<br />
        </p>
        <div class="changelog-version">Version 0.1.0</div>
        <div class="changelog-date">2017-06-22</div>
        <p>
            &#8226; Feature #8588: Base Site (CBAB webpage)<br />
            &#8226; Feature #8589: Deploy Website<br />
            &#8226; Feature #8592: Basic Model<br />
            &#8226; Feature #8798: Intro text<br />
        </p>
        </div>
    </div>
{% endblock %}

