{% extends "webpage/layout.html" %}
{% load static %}

{% load i18n %}
{% block title %}{% trans "network"|capfirst %}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'webpage/css/d3.css' %}" />
    <link rel="stylesheet" href="{% static 'webpage/libraries/huebee-2.0.0/huebee.min.css' %}" />
    <script src="{% static 'webpage/libraries/d3/d3-3.5.17.min.js' %}"></script>
    <script src="{% static 'webpage/libraries/huebee-2.0.0/huebee.pkgd.min.js' %}"></script>
    <script src="{% static 'webpage/libraries/saveSvgAsPng-1.4.5/saveSvgAsPng.js' %}"></script>
    <h2>{% trans 'network'|capfirst %}</h2>
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'en' %}
        <p>
            Based on the established tags, which were used with all of the maps in the database, this
            type of visualization shows how the maps and their information are connected to each other.
        </p>
        <p>
            The maps themselves are colored green, the respective persons in red. The institutions
            where the maps were produced or at least worked on – some of the maps have been imprinted
            with a stamp –, are colored in yellow. The sets that the single maps belong to are colored
            in blue. This type of data visualization in the form of a network gives an overview of the
            situatedness of historical material, which can be useful for future historical or cultural
            analysis.
        </p>
    {% else %}
        <p>
            Das hier dargestellte Netzwerk visualisiert die eingepflegten Karten mit einer Auswahl
            der erhobenen, zugehörigen Metadaten. Auf diese Weise werden die verschiedenen
            Beziehungen der Metadaten untereinander veranschaulicht. Sie sehen hier in Kontext
            gebrachte Karten mit ihren Autoren/Zeichnern und den Sets (in der Datenbank als
            <i>reference</i> bezeichnet), denen die jeweiligen Karten angehören.
        </p>
        <p>
            Wie in der Legende ersichtlich, sind die Karten grün markiert und die dazugehörigen
            Personen rot. Jedoch sind auch Institute vermerkt, die Karten produziert oder mit einem
            Stempel versehen haben; Institute sind in gelber Farbe zu finden. Das jeweilige Set oder
            Projekt, im Zuge dessen die Karte erstellt worden ist, finden Sie wiederum in blauer
            Farbe. Durch die Funktion der Veranschaulichung von Daten in Form eines Netzwerkes wird
            ein Überblick über die Hintergründe und Zusammenhänge des historischen Materials
            möglich, der auch für spätere (wissenschafts-) historische oder kulturwissenschaftliche
            Analysen interessant und wertvoll sein kann. So gibt es etwa die Möglichkeit, die
            Kartenproduktion des Dialektforschers Eberhard Kranzmayer anhand des dargestellten
            Netzwerkes nachzuvollziehen und die Verbindungen zu diversen (wissenschaftlichen, aber
            auch politischen) Institutionen und Orten der Produktion zu erkennen. Da der Großteil
            der Karten dieser Datenbank von Kranzmayer stammen und im Zuge seines
            Dialektatlasprojektes entstanden, kann man sich einen wertvollen (auch editorisch
            interessanten) Überblick über die Produktion seines unveröffentlichten Atlas
            verschaffen.
        </p>
    {% endif %}
    <svg id="network-svg"></svg>
    <form method="post">
        {% csrf_token %}
        <a class="button" onclick="saveSvgAsPng(d3.select('svg').node(), 'network.png')">{% trans 'download'|capfirst %}</a>
        {{ form }}
        <input type="submit" value="{% trans 'apply'|capfirst %}">
    </form>

    <script>
        function dragstarted(d) {
            d3.event.sourceEvent.stopPropagation();
            d3.select(this).classed("dragging", true);
        }
        function dragged(d) {
            d3.select(this).attr("cx", d.x = d3.event.x).attr("cy", d.y = d3.event.y);
        }
        function dragended(d) {
            d3.select(this).classed("dragging", false);
        }
        var drag, force, graph, height, l, links, n, nodes, svg, width, _i, _j, _len, _len2, _ref, _ref2;
        width = {{ network_options.width }};
        height = {{ network_options.height }};
        var svg = d3.select('svg')
            .attr('width', width)
            .attr('height', height)
            .call(d3.behavior.zoom().on("zoom", function () {
                svg.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
            })).append("g")
        nodes = svg.selectAll('.node');
        links = svg.selectAll('.link');
        force = d3.layout.force()
            .size([width, height])
            .charge({{ network_options.charge }})
            .linkDistance({{ network_options.link_distance }})
            .on('tick', (function () {
                nodes.attr('transform', function (d) {
                    return "translate(" + d.x + "," + d.y + ")";
                });
                return links.attr('x1', function (d) {
                    return d.source.x;
                }).attr('y1', function (d) {
                    return d.source.y;
                }).attr('x2', function (d) {
                    return d.target.x;
                }).attr('y2', function (d) {
                    return d.target.y;
                });
            }));
        var drag = force.drag()
            .origin(function (d) {return d;})
            .on("dragstart", dragstarted)
            .on("drag", dragged)
            .on("dragend", dragended);
        {{ network_data }}
        _ref = graph.links;
        for (_i = 0, _len = _ref.length; _i < _len; _i++) {
            l = _ref[_i];
            _ref2 = graph.nodes;
            for (_j = 0, _len2 = _ref2.length; _j < _len2; _j++) {
                n = _ref2[_j];
                if (l.source === n.id) {
                    l.source = n;
                    continue;
                }
                if (l.target === n.id) {
                    l.target = n;
                    continue;
                }
            }
        }
        links = links.data(graph.links).enter().append('line').attr('class', 'link');
        nodes = nodes.data(graph.nodes).enter().append('g').attr('class', 'node').call(drag);
        nodes.append('circle')
            .attr('r', 12).
            style("fill", function (d) {
                return d.color;
            });
        nodes.append("text")
            .attr("x", 0)
            .attr("y", 20)
            .attr("dy", ".35em")
            .text(function (d) {
                return d.name;
            });
        force.nodes(graph.nodes).links(graph.links).start();
    </script>
{% endblock %}
