{% extends "webpage/layout.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% block title %}{% trans "team"|capfirst %}{% endblock %}
{% block content %}
    <h2>Team</h2>
    <h3>Project Lead</h3>
    <h4>PD Dr. Manfred Glauninger</h4>
    <p>
        <a href="mailto:Manfred.Glauninger@univie.ac.at">Manfred.Glauninger@univie.ac.at</a>
    </p>
    <h3>Research</h3>
    <h4>Jan David Zimmermann, BA MA</h4>
    <p>
        <a href="mailto:JanDavid.Zimmermann@oeaw.ac.at">JanDavid.Zimmermann@oeaw.ac.at</a>
    </p>
    <h4>Klemens Wagner, BA</h4>
    <p>
        <a href="mailto:Klemens.Wagner@oeaw.ac.at">Klemens.Wagner@oeaw.ac.at</a>
    </p>
    <h4>Claudia Hackl, BA</h4>
    <p>
        <a href="mailto:Claudia.Hackl@oeaw.ac.at">Claudia.Hackl@oeaw.ac.at</a>
    </p>
    <h3>Software Development</h3>
    <h4>Alexander Watzinger</h4>
    <p>
        <a href="mailto:alexander.watzinger@oeaw.ac.at">alexander.watzinger@oeaw.ac.at</a>
    </p>
    <p>
        A software developer with a special interest in data modeling and scientific web applications.
    </p>
    <h3>Coopted</h3>
    <h4>Univ. Prof. Dr. Alexandra N. Lenz</h4>
    <p>
        <a href="mailto:alexandra.lenz@oeaw.ac.at">alexandra.lenz@oeaw.ac.at</a>
    </p>
{% endblock %}
