{% extends "webpage/layout.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% block title %}{% trans "team"|capfirst %}{% endblock %}
{% block content %}
    <h2>Team</h2>
    <h3>Project Lead</h3>
    <p>Manfred Glauninger (manfred.glauninger@univie.ac.at)</p>
    <h3>Research</h3>
    <p>Jan Zimmermann (JanDavid.Zimmermann@oeaw.ac.at)</p>
    <p>Klemens Wagner (Klemens.Wagner@oeaw.ac.at)</p>
    <p>Claudia Hackl (Claudia.Hackl@oeaw.ac.at)</p>
    <h3>Software Development</h3>
    <p>Alexander Watzinger (alexander.watzinger@oeaw.ac.at)</p>
{% endblock %}
