{% extends "webpage/layout.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">
    <h1 style="text-align: center;">Austrian Dialect Cartography 1924–1956</h1>
    <h2 style="text-align: center;">Digitalisation Contextualisation and Visualisation</h2>
    <p style="margin-top:2em;">
        In the light of a radical (operational) constructivist view of science this project takes
        scientific knowledge as a convention produced and maintained within cultural practice.
        Scientific knowledge tells nothing about an experiencer-independent, so called objective
        reality. But it tells much about the circumstances under which this knowledge is produced.
        Thus scientific knowledge reflects/indicates ideologies and attitudes of scientists, their
        community and society as a whole, hence it conveys social meaning.
    </p>
    <p>
        Cartographic expertise of the 20th century has been analysed within history of science for
        the last few decades, especially in the face of territorial changes in Central Europe, the
        huge socio-political caesuras of the First and Second World War, and the legacy of these
        periods of war, terror and crime.
    </p>
    <p>
        Although it soon became quite clear that mapping as a scientific practice does matter for
        understanding different forms of territorial and scientific thinking, the specific
        cartographic visualisation of language and its spreading in the geographic space ―
        represented through thematic maps and atlases ― has not yet been considered in its deep
        historical, theoretical, semiotical, i. e. social dimension.
    </p>
    <p>
        This project is focusing on Austrian dialect cartography from 1924 to 1956 against the
        following theoretical assumption: a dialect map represents a highly complex semiosis which
        incorporates several layers of knowledge and several layers (and different types) of signs
        (icons, symbols, indices). Henceforth spatial, historical, socio-political, linguistic
        knowledge ― and respective ideologies ― all cumulate in such an artifact as a “dialect-map”.
    </p>
    <p>
        With a strong Digital Humanities approach this project aims at digitalising dialect maps,
        georeferencing them, enrich them with metadata and putting those maps online.
    </p>
    <h4>ACDH Contact</h4>
    <p>
        Manfred Glauninger
        (<a href="mailto:manfred.glauninger@oeaw.ac.at">manfred.glauninger@oeaw.ac.at</a>)<br />
        Jan Braun (<a href="mailto:jan.braun@oeaw.ac.at">jan.braun@oeaw.ac.at</a>)<br />
    </p>
    <h4>Links</h4>
    <p>
        <a target="_blank" href="https://www.oeaw.ac.at/acdh/projects/austrian-dialect-cartography/">Austrian Dialect Cartography 1924–1956</a><br />
        <a target="_blank" href="http://www.oeaw.ac.at/stipendien-foerderungen/foerderprogramme/godigital/godigital-20-ausgewaehlte-projekte/#c22559">
            ÖAW Go!Digital 2.0
        </a><br />
        <a target="_blank" href="https://github.com/acdh-oeaw/diauma">Code on GitHub</a>
</div>
{% endblock %}
