<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load webpage_extras %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% projects_metadata 'title' %} - {% block title %}{% projects_metadata 'title' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block metaDescription %}
        <meta name="description" content="{{ metadata.description }}">
    {% endblock %}
    <meta name="author" content="{{ metadata.author }}">
    <link rel="stylesheet" href="{% static 'webpage/libraries/bootstrap337/css/bootstrap.min.css' %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static 'webpage/css/style.less' %}" />
    <link rel="stylesheet" href="{% static 'webpage/libraries/scroll-to-top/css/ap-scroll-top.min.css' %}" />
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    <link rel="stylesheet" href="{% static 'webpage/libraries/jquery/jquery-ui-1.12.1/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'webpage/libraries/jquery/jstree/themes/default/style.min.css' %}" />
    <link rel="stylesheet" href="{% static 'webpage/css/style.css' %}" />
    <script src="{% static 'webpage/libraries/less/less.min.js' %}"></script>
    <script src="{% static 'webpage/libraries/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'webpage/libraries/jquery/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'webpage/libraries/jquery/validate-1.16.0.min.js' %}"></script>
    <script src="{% static 'webpage/libraries/jquery/jstree/jstree.min.js' %}"></script>
    <script src="{% static 'webpage/libraries/jquery/jstree/jstree.search.js' %}"></script>
    <script src="{% static 'webpage/libraries/scroll-to-top/js/ap-scroll-top.min.js' %}"></script>
    <script src="{% static 'webpage/js/cookieconsent.min.js' %}"></script>
    <script src="{% static 'webpage/js/functions.js' %}"></script>
</head>
<body>
<header class="procustom-header">
    <nav class="navbar navbar-default navbar-static-top procustom-navbar" id="top-procustom-navbar">
        <div class="container">
            <div style="float:left;margin-right:2em;">
                <a href="{% url 'webpage:index' %}" class="navlink">
                    <img src="{% static 'webpage/img/logo.png' %}" id="logo" alt="Diauma" />
                </a>
            </div>
            <div>
                <div style="float:left;margin:1em 0 0 1em;height:5.2em;">
                    <span style="font-size:1.4em;">DIAUMA - Digitizing Austrian Maps</span>
                    <div class="messages">
                        {% if messages %}
                            {% for message in messages %}
                                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav" style="width:600px;">
                        <li class="{% if 'index' in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'webpage:index' %}">{% trans 'about'|capfirst %}</a>
                        </li>
                        <li class="{% if 'leaflet' in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'maps:leaflet' %}">{% trans 'overlay maps'|capfirst %}</a>
                        </li>
                        <li class="{% if 'browse' in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'maps:browse' %}">{% trans 'browse'|capfirst %}</a>
                        </li>
                        <li class="{% if 'network' in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'maps:network' %}">{% trans "network"|capfirst %}</a>
                        </li>
                        <li class="{% if 'team' in request.resolver_match.url_name %}active{% endif %}">
                            <a href="{% url 'maps:team' %}">{% trans "team"|capfirst %}</a>
                        </li>
                    </ul>
                    <div style="float:right;margin-top:-1.5em;">
                        <form action="{% url 'set_language' %}" method="post" id="language-form">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                            <input name="language" id="language" type="hidden" value="" />
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <span class=" {% if language.code == LANGUAGE_CODE %}selected{% endif %}" onclick="select_language('{{ language.code }}')">{{ language.code|upper }}</span>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<section class="main-content">
    <div id="content" class="container">
        
        {% block procustom-index %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</section>
<footer class="main-footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-sep">CONTACT</div>
            <div class="row">
                <div class="col-md-4" style="margin-left:1em;">
                    <p>
                        ACDH-CH<br>
                        Austrian Centre for Digital Humanities and Cultural Heritage<br>
                        Austrian Academy of Sciences
                    </p>
                    <p>
                        Sonnenfelsgasse 19,<br>
                        1010 Vienna
                    </p>
                    <p>
                        T: +43 1 51581-2200<br>
                        E: <a href="mailto:acdh@oeaw.ac.at">acdh@oeaw.ac.at</a>
                    </p>
                </div>
            </div>
            <div class="footer-imprint-bar">
                {% trans "version"|capfirst %} {% projects_metadata 'version' %} <a href="{% url 'maps:changelog' %}">Changelog</a>
                - <a href="{% projects_metadata 'github' %}" class="navlink" target="_blank" rel="noopener">Code on GitHub</a>
                - <a target='blank_' href="/docs/index.html">{% trans "documentation"|capfirst %}</a>
                - <a href="{% url 'maps:imprint' %}">{% trans "imprint"|capfirst %}</a>
            </div>
        </div>
    </div>
</footer>
{% block scripts %}
<script src="{% static 'webpage/libraries/bootstrap335/js/bootstrap.min.js' %}"></script>
<script src="{% static 'webpage/libraries/bootstrap335/js/bootstrap-tab.js' %}"></script>
<script>
    $(document).ready(function() {
        $.apScrollTop({'onInit': function(evt) {console.log('apScrollTop: init');}});
    });
</script>
{% endblock %}
{% block scripts2 %}
{% endblock scripts2 %}
</body>
</html>
