{% extends "webpage/layout.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load maps_extras %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %}{% trans "person"|capfirst %}{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "person" "maps:person" %}
    {% breadcrumb_safe person.name|truncate_string '' %}
{% endblock %}
{% block content %}
    <div class="container">
        <ul id="tabs" class="nav nav-tabs">
            <li id="overview-tab-header">
                <a href="#overview" data-toggle="tab">{% trans "overview"|capfirst %}</a>
            </li>
            {% if map_table.data|length > 0 %}
                <li id="maps-tab-header">
                    <a href="#maps" data-toggle="tab">{% trans "maps"|capfirst %}</a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane" id="overview">
                <div class="button-bar">
                    <a class="button" href="{% url 'maps:person-update' person.id %}">{% trans "update"|capfirst %}</a>
                    <form method="POST" action="{% url 'maps:person-delete' person.id %}">
                        {% csrf_token %}
                        <input id="delete-person" type="submit" value="{% trans 'delete'|capfirst %}">
                    </form>
                </div>
                <h2>{{ person.name }}</h2>
                <div class="detail-column">
                    <h3>{% trans "information"|capfirst %}</h3>
                    {% if location_at %}
                        <p>{% trans "located at"|capfirst %}: {{ location_at|link }}</p>
                    {% endif %}
                    {% autoescape off %}
                        {% if institutes %}
                            <p>{% trans "member of"|capfirst %}: {{ institutes|join:', ' }}</p>
                        {% endif %}
                    {% endautoescape %}
                    {% if person.gnd_id %}
                        <p>
                            GND ID:
                            <a href="http://d-nb.info/gnd/{{ person.gnd_id }}" rel="noopener" target="_blank">{{ person.gnd_id }}</a>
                        </p>
                    {% endif %}
                    {% if person.date_begin or person.date_end %}
                        <p>
                            {% trans "dates"|capfirst %}:
                            {% if person.date_begin %}
                                {{ person.date_begin|format_date:'%Y' }}
                            {% endif %}
                            -
                            {% if person.date_end %}
                                {{ person.date_end|format_date:'%Y' }}
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
                {% include "../types_for_detail_view.html" %}
                <div style="clear:both;"></div>
                {{ person|display_info }}
                {{ person|display_dates }}
            </div>
            {% if map_table.data|length > 0 %}
                <div class="tab-pane" id="maps">
                    {% render_table map_table %}
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).on('click', '#delete-person', function(){
            return confirm('{% blocktrans with person.name as name %}Delete {{ name }}?{% endblocktrans %}');
        })
    </script>
{% endblock %}
