{% extends "webpage/layout.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "files"|capfirst %}{% endblock %}
{% block content %}
<div class="container">
    {% block breadcrumbs %}
        {% breadcrumb "files" "maps:files-index" %}
    {% endblock %}
    <ul id="tabs" class="nav nav-tabs">
        <li id="overview-tab-header">
            <a href="#tab-scan" data-toggle="tab">Scans ({{ tables.scans.data|length }})</a>
        </li>
        <li id="maps-tab-header">
            <a href="#tab-file" data-toggle="tab">{% trans "files"|capfirst %} ({{ tables.files.data|length }})</a>
        </li>
        <li id="members-tab-header">
            <a href="#tab-orphans" data-toggle="tab">Orphans ({{ tables.orphans.data|length }})</a>
        </li>
    </ul>
    <div class="tab-content clearfix">
        <div class="tab-pane" id="tab-scan">
            <div class="button-bar">
                <a class="button" href="{% url 'maps:scan-create' %}">{% trans "scan"|capfirst %} +</a>
            </div>
            {% if tables.scans.data %}
                {% render_table tables.scans %}
            {% endif %}
        </div>
        <div class="tab-pane" id="tab-file">
            <div class="button-bar">
                <a class="button" href="{% url 'maps:file-create' %}">{% trans "file"|capfirst %} +</a>
            </div>
            {% if tables.files.data %}
                {% render_table tables.files %}
            {% endif %}
        </div>
        <div class="tab-pane" id="tab-orphans">
            <h3>Orphans</h3>
            {% if orphaned_files_count %}
                <div class="button-bar">
                    <a class="button" id="delete-orphaned-files"
                       href="{% url 'maps:delete-orphaned-files' %}">{% trans 'Delete orphaned files' %}</a>
                </div>
            {% endif %}
            {% if tables.orphans.data %}
                <p>
                    {% trans "listed are"|capfirst %}:<br />
                    - {% trans "Entries without a file with a link to the entry." %}<br />
                    - {% trans "Files that exist but have no related database entries with a download link." %}
                </p>
                {% render_table tables.orphans %}
            {% else %}
                <p>{% trans "Congratulation, no orphaned files or data entries found." %}</p>
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(document).on('click', '#delete-orphaned-files', function(){
        return confirm('{% blocktrans with orphaned_files_count as name %}Delete {{ name }}?{% endblocktrans %}');
    })
</script>
{% endblock %}
