{% extends "webpage/layout.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% block title %}Diauma - Files{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    {% block breadcrumbs %}
        {% breadcrumb "Files" "maps:files-index" %}
    {% endblock %}
    <ul id="tabs" class="nav nav-tabs">
        <li id="overview-tab-header">
            <a href="#tab-scan" data-toggle="tab">Scans ({{ tables.scans.data|length }})</a>
        </li>
        <li id="maps-tab-header">
            <a href="#tab-file" data-toggle="tab">Files ({{ tables.files.data|length }})</a>
        </li>
        <li id="members-tab-header">
            <a href="#tab-orphans" data-toggle="tab">Orphans ({{ tables.orphans.data|length }})</a>
        </li>
    </ul>
    <div class="tab-content clearfix">
        <div class="tab-pane" id="tab-scan">
            <div class="button-bar">
                <a class="button" href="{% url 'maps:scan-create' %}">Scan +</a>
            </div>
            {% if tables.scans.data %}
                {% render_table tables.scans %}
            {% endif %}
        </div>
        <div class="tab-pane" id="tab-file">
            <div class="button-bar">
                <a class="button" href="{% url 'maps:file-create' %}">File +</a>
            </div>
            {% if tables.files.data %}
                {% render_table tables.files %}
            {% endif %}
        </div>
        <div class="tab-pane" id="tab-orphans">
            <h3>Orphans</h3>

            {% if tables.orphans.data %}
                <p>These files exist on the file system but have no related database entries.</p>
                {% render_table tables.orphans %}
            {% else %}
                Congratulation, no orphaned files found.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
