{% extends "webpage/layout.html" %}
{% load maps_extras %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %}{% trans "search"|capfirst %}{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "search" "" %}
{% endblock %}
{% block content %}
    <form action="{% url 'maps:search' %}" method="post">
        {% csrf_token %}
        <input id="search-term" name="search-term" type="text" style="width: 10em;" value="{{ search_term }}" />
        <button type="submit" style="margin-right:0;">{% trans "search"|capfirst %}</button>
    </form>
    {% if search_term and not table %}
        <p style="margin-top:1em;">
            {% blocktrans with search_term as name %}No results for: {{ name }}{% endblocktrans %}
        </p>
    {% endif %}
    {% if table %}
        <h3>{{ label }}</h3>
        {% render_table table %}
    {% endif %}
{% endblock %}
